.tab {padding: 0.5em 0.5em 0.5em 0.5em;color: hsl(271, 45%, 30%);border-radius: 0.5em 0.5em 0 0;}
.deselected {background-color:#E5E4E2;border-bottom-width:thin !important}
.selected {background-color:white}
.deselected:hover {cursor:pointer;background-color:#FFFFC2}
.leading { border-style:solid; border-width: thin thin 0 thin; }
.middle { border-style:solid; border-width: thin thin 0 0;}
.trailing {border-style:solid; border-width: thin thin 0 0;}
#tabs-header-left,#tabs-header-right {border-collapse:separate;border-spacing: 0}
#tabs-header-left {position:absolute;bottom:0;left:0}
#tabs-header-right {position:absolute;bottom:0;right:0}
.hidden{display:none;border-style:solid; border-width: thin thin thin 0;}
#tabs-header-left td {z-index:1;background-color:white}
#tabs-header-left td:hover {background-color:#FFFFC2}
#tabs-header-left a,#tabs-header-right a {color:hsl(271, 45%, 30%);text-decoration:none}

