body {margin:0}
#content {position:relative}
#page {max-width:60em;width:80%;position:relative;margin-left:auto;margin-right:auto}
/*#page {position:relative;width:100%;margin-left:auto;margin-right:auto}*/
#header {max-width:60em;position:fixed;top:0;height:6.5em;z-index:1;
/*#header {position:fixed;left:0;top:0;height:6.5em;z-index:1;*/
background-color: #8b68a1;opacity:1;border-left:thin solid black;border-right:thin solid black;}
#page-body {position:absolute;top:0;width:100%;z-index:-1;
border-right:thin solid black;border-left:thin solid black;}
#banner {text-align:center;padding:0.5em 0 0.5em 0}
#logo,#slogan,#username {font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
#logo {color:white;font-variant:small-caps;font-size:200%;font-weight:500}
#slogan {color:white;font-size:175%;}
#login-icon {color:white;font-size:150%;padding-right:0.5em;line-height:150%}
#login-group {float:right}
#username {padding-right:0.5em;color:white;line-height:200%}
#error {text-align:center;margin:4em auto 4em auto;}
#error i {color:red}
#error span {padding: 1em 1em 1em 1em; margin:1em 0 1em 0; background-color:rgb(240, 240, 240)}
#ruler {position:fixed;top:144.7px;left:0;height:624px;width:50px;background-color:pink;}
#left,#right { overflow-y: auto;}
/* project chooser*/
#choose_project {border-radius: 0.5em;padding:0 1em 1em 1em;border:1px solid black;display:none;width:30em;margin:10% auto 0 auto;}
#project_select {margin:0 auto 0 auto;width:20em;display:block;}
#project_ok {display:block;margin:0 0 0 auto;}

