tr td, tr th {padding: 4px 9px;}
#scan_button,#save_scan,#save_split,#split_button {padding:0px 4px;margin:0 0.5em}
#response_frame {height:1em;display:none}
#results-container {position:relative}
#toolbar {font-size:large;text-align:center;padding:1em 0.5em 1em 0.5em;position:relative}
#results-wrapper {max-height:15em;overflow:auto;position:relative;margin-bottom:3em;}
#results-header {margin:0;position:relative}
#results {margin:0;width:100%;background:rgb(240,240,240);border-collapse:collapse;}
#results td {border:thin solid white}
#results-header th {position:absolute;color:white;background: rgba(0, 0, 0, 0.35);font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
#results tr td:nth-of-type(3) {min-width:2em;}
#project {margin-right:1em}
#original span {white-space:pre-wrap;}
#tabs-container {
padding: 0;
line-height: 1.5;
}

.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
    list-style: none;
    margin:0;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    color: #fff;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #2e7da3;
}
#original {
    background-color: #eee;
    position:relative;
    margin-bottom:0;
}
.tab-content {
    background-color: #fff;
    padding: 20px;
    display: none;
    margin-top:0;
    max-height: 20em;
    position:relative;
    margin-bottom: 20px;
}
.tab-content, #original {
    border: 1px solid #d4d4d1;
    float: left;
    width:100%;
    color: #222;
    counter-reset: line;
    overflow-y:auto;
    overflow-x:hidden;
}

.tab-content span:before, #original span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
  min-width: 2em;
}

.initial {
 display: block;   
}


